Sensors, Hospitality, Social Media
Velocity, Variety, Volume
Horizontal scaling adds more number of nodes. Vertical Scaling adds more number of data in a single node
Hadoop is a linux framework used for Big Data 
